<!-- <%- include('partials/header.ejs')   %>

    <p>Welcome in Landing page :) </p>
     <a href="/products">go to product page</a>
<%- include('partials/footer.ejs')   %> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>FreshFlower</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	
</head>
	<body>
		<div style="margin-bottom: 50px;">
	         <h1 class="text-center mt-3">Welcome in my project</h1>
		        <p class="text-center">This is fully functional frontend ecommerce website ,design and developed by :- </p>
				<p class="text-center"><strong style="color:blue">Sandeep kumar.</strong></p>
			    <p  class="text-center">BCA 2A {2st year}</p>
				<p  class="text-center">Under the Supervision of </p>
				<p  class="text-center" style="color:blue"><strong>Abhishek Singh</strong></p>
				<p  class="text-center"> ( Senior )</p>
				<!-- <p  class="text-center">UIM FUGS</p> -->
			 <a href="/products"class="text-center d-flex justify-content-center" style="text-decoration: none">
			 <button type="button" class="btn btn-primary">Visit the project</button>
			</a>
		     <hr>
		     <h4 class="text-center">Technology used in this website are </h4>
		       <p class="text-center"> 1. HTML 5</p>
		       <p class="text-center"> 2. CSS  3</p>
		       <p class="text-center"> 3. Advance Javascript </p>
               <p class="text-center"> 4. MongoDB database </p>
               <p class="text-center"> 5.  Express js</p>
               <p class="text-center"> 6.  node js  </p>
               
		</div>
		<hr>
		<div>
			<p class="text-center">All the images of the products are taken from <a href="https://www.myflowerapp.com/">myflowerapp.com</a>
		</div>
	</body>
	
</html>
